<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<title>Snapshot by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="assets/cssDisp/bootstrap.min.css" th:href="@{/cssDisp/bootstrap.min.css}" />
		<link rel="stylesheet" href="assets/cssDisp/mystyle.css" th:href="@{/cssDisp/mystyle.css}" />
		<link rel="stylesheet" href="assets/css/cssDetail/main.css" />
			  <link rel="stylesheet" href="assets/_menuAssets/menuCss/styles-merged.css">
 <link rel="stylesheet" href="assets/_menuAssets/menuCss/style.min.css">
	</head>
	<body>
	 <h4>
	 


 <div class="probootstrap-page-wrapper" xmlns:th="http://www.thymeleaf.org">
   <nav class="navbar navbar-default probootstrap-navbar">

       <div id="navbar-collapse" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav navbar-right">
            
              <li ><a th:href="@{/}">Page d'Acceuil</a></li>
              
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Eleve</a>
                <ul class="dropdown-menu">
                 <li><a th:href="@{index}">Liste de tous les eleves inscrits</a>
                  <li><a th:href="@{form}">Nouvelle Inscription</a></li>
                  <li><a th:href="@{editSuppimer}">Modifier ou Supprimer une Inscription</a></li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Mensualites</a>
                <ul class="dropdown-menu">
                 <li><a th:href="@{underConst}">Lister Tous Les Mensualites</a></li>
                  <li><a th:href="@{underConst}">Paiyement Mensualites</a></li>
                  <li><a th:href="@{underConst}">Modifier ou Supprimer une Mensualite</a></li>
                </ul>
              </li>
   
   			<li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Conduites</a>
                <ul class="dropdown-menu">
                 <li><a th:href="@{underConst}">Lister Tous Les Conduites</a></li>
                  <li><a th:href="@{underConst}">Enregistrer Conduites</a></li>
                  <li><a th:href="@{underConst}">Modifier ou Supprimer une Conduite</a></li>
                </ul>
              </li>
   
   			 <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Notes</a>
                <ul class="dropdown-menu">
                <li><a th:href="@{underConst}">Bulletin d'un Eleve</a></li>
                <li><a th:href="@{underConst}">Editer les Note d'un Eleve</a></li>
                 <li><a th:href="@{underConst}">Lister Tous Les Note</a></li>
                 <li><a th:href="@{underConst}">Lister Tous Les Bulletins</a></li>
                 <li><a th:href="@{underConst}">Inserer les Coefficints des Notes</a></li>
                 <li><a th:href="@{underConst}">Editer les Coefficints des Notes</a></li>
                 <!--  <li><a href="${pageContext.request.contextPath}/ServletModifierSupprimerNotes">Modifier ou Supprimer une Note</a></li> -->
                </ul>
              </li>
   
   
           <li class="dropdown">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Enseignant</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{underConst}">Liste des Enseignants</a></li>  
               <li><a th:href="@{underConst}">Inserer un Nouveau Enseignants</a></li>
               <li><a th:href="@{underConst}">Modifier Etat d'Enseignant</a></li>
            </ul>
   			</li>
   			
   			
   			<li class="dropdown">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Utilisateurs</a>
            <ul class="dropdown-menu">
            	<li><a th:href="@{underConst}">Session Utilisateur</a></li>
            	<li><a th:href="@{underConst}">Session Administrateur</a></li>
               <li><a th:href="@{underConst}">Creer Utilisateur</a></li>
               <li><a th:href="@{underConst}">Afficher les Utilisateurs</a></li>
               <li><a th:href="@{underConst}">Modifier un Utilisateur</a></li>
               <li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
               
            </ul>
   			</li>
   
              <li><a th:href="@{underConst}">Contact</a></li>
             
               <li>
              <form th:action="@{find}" method="get">             
	              <input name="matricule" th:value=${motCle}> 
	              <input type="submit" value="Search" class="alt"/>	               
      		  </form>
              
              </li>
            </ul>
            
            
     </div>
   </nav>

<script src="assets/menuAssets/menuJs/scripts.min.js"></script>
 <script src="assets/menuAssets/menuJs/main.min.js"></script>
	 
	 </h4>

		<div class="page-wrap">
			<!-- Main -->
				<section id="main">

					<!-- Banner -->
						<section id="banner">
							<div class="inner">
								<h1>Systeme de getion des Etablissements</h1>
							<h3>Pour Afficher les details d'un Eleve clicquer sur Continuer ou Annuler pour quitter</h3>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">Continuer</a></li>
									<li><a class="button alt scrolly big">Annuler</a></li>

								</ul>
							</div>
						</section>

	<section id="galleries">

									<div class="gallery">


										<section class="wrapper style1">
											<div class="inner">
												

												<section class="probootstrap-section">
									        <div class="container">
									        
									        <div id="paraphPos"> <h3>Details d'un Eleve</h3> </div> 
									        <div id="hrLign"><hr/>
									        </div>
												
									
							<div class="container">


          <div class="row">
            <div id="PrintOneEleve" class="col-md-3 col-sm-6">
               <!-- Display   Eleve -->
              <div id="containerDetail" class="probootstrap-teacher text-center probootstrap-animate">
                <figure class="media">
                 	 <img class="img-circle" th:src="@{getPhoto(id=${inscrip.idInscription})}" width="200px" height="200px"/>
                </figure>   
              <div class="text">
              
                  <h3 th:text="${inscrip.eleve.nom}"></h3>
				   <h3 th:text="${inscrip.eleve.prenom}"></h3>
                  <p th:text="${inscrip.matricule}"></p>
                  <p th:text="${inscrip.eleve.genre}"></p>
                  <p th:text="${inscrip.eleve.adresse}"></p>
                  <p th:text="${inscrip.eleve.age}"></p>
                  <p th:text="${inscrip.eleve.classe}"></p>
                  <p th:text="${inscrip.frais}"></p>
                  <p th:text="${inscrip.date}"></p>
				  <p th:text="${inscrip.annee}"></p>
                   
                  
                </div>
              </div>
            </div>


        </div>
        <div> </div>
        
 
  

										<hr class="affich"/>
<a class="link" href="#" >Debut de la Page</a>
										</div>
								</section>
						</section>
					<!-- Contact -->

		</div>

		<!-- Scripts

		-->
		
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		  <script src="assets/js/jquery.poptrox.min.js"></script>






	</body>
</html>
