<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>

		<title>Snapshot by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="assets/cssDisp/bootstrap.min.css" th:href="@{/cssDisp/bootstrap.min.css}" />
		<link rel="stylesheet" href="assets/cssDisp/mystyle.css" th:href="@{/cssDisp/mystyle.css}" />
		<link rel="stylesheet" href="assets/css/cssEdit/main.css" />
			  <link rel="stylesheet" href="assets/_menuAssets/menuCss/styles-merged.css">
 <link rel="stylesheet" href="assets/_menuAssets/menuCss/style.min.css">
	</head>
	<body>
	 <h4>


 <div class="probootstrap-page-wrapper" xmlns:th="http://www.thymeleaf.org">
   <nav class="navbar navbar-default probootstrap-navbar">

       <div id="navbar-collapse" class="navbar-collapse collapse">
                     <ul class="nav navbar-nav navbar-right">
            
              <li ><a th:href="@{/}">Page d'Acceuil</a></li>
              
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Eleve</a>
                <ul class="dropdown-menu">
                 <li><a th:href="@{index}">Liste de tous les eleves inscrits</a>
                  <li><a th:href="@{form}">Nouvelle Inscription</a></li>
                  <li><a th:href="@{editSuppimer}">Modifier ou Supprimer une Inscription</a></li>
                </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Mensualites</a>
                <ul class="dropdown-menu">
                 <li><a th:href="@{underConst}">Lister Tous Les Mensualites</a></li>
                  <li><a th:href="@{underConst}">Paiyement Mensualites</a></li>
                  <li><a th:href="@{underConst}">Modifier ou Supprimer une Mensualite</a></li>
                </ul>
              </li>
   
   			<li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Conduites</a>
                <ul class="dropdown-menu">
                 <li><a th:href="@{underConst}">Lister Tous Les Conduites</a></li>
                  <li><a th:href="@{underConst}">Enregistrer Conduites</a></li>
                  <li><a th:href="@{underConst}">Modifier ou Supprimer une Conduite</a></li>
                </ul>
              </li>
   
   			 <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Notes</a>
                <ul class="dropdown-menu">
                <li><a th:href="@{underConst}">Bulletin d'un Eleve</a></li>
                <li><a th:href="@{underConst}">Editer les Note d'un Eleve</a></li>
                 <li><a th:href="@{underConst}">Lister Tous Les Note</a></li>
                 <li><a th:href="@{underConst}">Lister Tous Les Bulletins</a></li>
                 <li><a th:href="@{underConst}">Inserer les Coefficints des Notes</a></li>
                 <li><a th:href="@{underConst}">Editer les Coefficints des Notes</a></li>
                 <!--  <li><a href="${pageContext.request.contextPath}/ServletModifierSupprimerNotes">Modifier ou Supprimer une Note</a></li> -->
                </ul>
              </li>
   
   
           <li class="dropdown">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Enseignant</a>
            <ul class="dropdown-menu">
               <li><a th:href="@{underConst}">Liste des Enseignants</a></li>  
               <li><a th:href="@{underConst}">Inserer un Nouveau Enseignants</a></li>
               <li><a th:href="@{underConst}">Modifier Etat d'Enseignant</a></li>
            </ul>
   			</li>
   			
   			
   			<li class="dropdown">
           <a href="#" data-toggle="dropdown" class="dropdown-toggle active" >Utilisateurs</a>
            <ul class="dropdown-menu">
            	<li><a th:href="@{underConst}">Session Utilisateur</a></li>
            	<li><a th:href="@{underConst}">Session Administrateur</a></li>
               <li><a th:href="@{underConst}">Creer Utilisateur</a></li>
               <li><a th:href="@{underConst}">Afficher les Utilisateurs</a></li>
               <li><a th:href="@{underConst}">Modifier un Utilisateur</a></li>
               <li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
               
            </ul>
   			</li>
   
              <li><a th:href="@{underConst}">Contact</a></li>
             
               <li>
              <form th:action="@{find}" method="get">             
	              <input name="matricule" th:value=${motCle}> 
	              <input type="submit" value="Search" class="alt"/>	               
      		  </form>
              
              </li>
            </ul>
            
            
     </div>
   </nav>


	  </h4>

		<div class="page-wrap">
			<!-- Main -->
				<section id="main">

					<!-- Banner -->
						<section id="banner">
							<div class="inner">
								<h1>Systeme de getion des Etablissements</h1>
							<h3>Pour Modifier l'Inscription d'un Eleve clicquer sur Continuer ou Annuler pour quitter</h3>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">Continuer</a></li>
									<li><a class="button alt scrolly big">Annuler</a></li>

								</ul>
							</div>
						</section>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">

									<div id="main">
										<section class="wrapper style1">
										<div class="inner">


										<!-- Elements -->

											<div class="row 200%">
												<div class="6u 12u$(medium)">
													<h2>Formulaire pour Modifier l'inscription un Eleve</h2>

										<hr class="major" />
									</br>

										<!-- Form -->

<div class="container col-md-6 col-xs-10 col-md-offset-4 spacer">
	<div class="panel panel-default">
		<div class="panel-heading"><h1>Modifier une Inscription</h1></div>
		<div class="panel-body"> 
			
				<form th:action="@{updateInscription}" method="post" th:object="${inscription}" enctype="multipart/form-data">
			
			 
				<div class="form-group">
					<label class="control-labe">ID:</label>
					<input type="text" th:field="*{idInscription}" class="form-control text-danger" disabled>
					<span class="text-danger" th:errors="*{idInscription}"></span>
				</div>
				
				
				
				<div class="form-group">
					<input type="hidden" th:field="*{idInscription}" class="form-control text-danger">
					<input type="hidden" th:field="*{eleve.idEleve}" class="form-control text-danger">
				</div>
			 
			 
			
				<div class="form-group">
					<label class="control-labe">Matricule Inscription:</label>
					<input type="text" th:field="*{matricule}" class="form-control">
					<span class="text-danger" th:errors="*{matricule}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Matricule Eleve:</label>
					<input type="text" th:field="*{eleve.matricule}" class="form-control">
					<span class="text-danger" th:errors="*{eleve.matricule}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Nom:</label>
					<input type="text" th:field="*{eleve.nom}" class="form-control">
					<span th:errors="*{eleve.nom}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Prenom:</label>
					<input type="text" th:field="*{eleve.prenom}" class="form-control">
					<span th:errors="*{eleve.prenom}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Genre:</label>
					<input type="text" th:field="*{eleve.genre}" class="form-control">
					<span th:errors="*{eleve.genre}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Adresse:</label>
					<input type="text" th:field="*{eleve.adresse}" class="form-control">
					<span th:errors="*{eleve.adresse}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Age:</label>
					<input type="number" th:field="*{eleve.age}" class="form-control">
					<span th:errors="*{eleve.age}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Classe:</label>
					<input type="text" th:field="*{eleve.classe}" class="form-control">
					<span th:errors="*{eleve.classe}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Frais d'Inscription:</label>
					<input type="text" th:field="*{frais}" class="form-control">
					<span th:errors="*{frais}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Date:</label>
					<input type="date" th:field="*{date}" class="form-control">
					<span th:errors="*{date}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Annee Scolaire:</label>
					<input type="text" th:field="*{annee}" class="form-control">
					<span th:errors="*{annee}"></span>
				</div>
				
				<div class="form-group">
					<label class="control-labe">Photo:<img class="img-circle" th:src="@{getPhoto(id=${inscription.idInscription})}" width="50px" height="50px"/></label>
					<input type="file" name="photo" class="form-control">
					<!--<span th:errors="*{photo}"></span>   -->
					
				</div>
				
				<div>
				
					<button type="submit" class="btn btn-primary">Enregistrer</button>
					
				</div>
			
			</form>
			
			
		</div>
	</div>
	</div>
								

								</div>
								
								
						</section>

					<!-- Contact -->

		</div>

		<!-- Scripts

		-->
		
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		  <script src="assets/js/jquery.poptrox.min.js"></script>
		  <script src="assets/menuAssets/menuJs/scripts.min.js"></script>
 <script src="assets/menuAssets/menuJs/main.min.js"></script>






	</body>
</html>
