<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Elements - Broadcast by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="assets/css/userStyle.css">
				<title th:utext="${title}"></title>
	</head>
	<body class="subpage">
	
	 <!-- Include _menu.html -->
	 <h4>
	 	 <div 
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;" >
 
  <a th:href="@{/}">Home</a>
 
     | &nbsp;
  
   <a th:href="@{/userInfo}">User Info</a>
  
     | &nbsp;
  
   <a th:href="@{/admin}">Admin</a>
    
     | &nbsp;
      
   <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
  
</div>
	 </h4>
      				
		<!-- Main -->
		<section id="banner">
			<div id="main">
				<section class="wrapper style1">
				<div class="inner">

 
      <h2>Bien Venue Mr/Mme :
         <span th:utext="${#request.userPrincipal.name}"></span>
      </h2>
					<h3>Vous accedez a cette Session en tant que Utilisateur</h3>
					<div class="row 200%">
						<div class="6u 12u$(medium)">

				<hr class="major" />
							
				
				
       
      				 <b>Cette Session est protege!</b> 
       
      <br/><br/>
       
       <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
				
					
		<hr class="major" />
			</section>		
							
	</body>
</html>